body{
    background: white;
    color: black;
    font-size: 1rem;
    font-family: "Poppins";
}

.navbar{
    text-transform: uppercase;
}



@media (min-width: 576px){
    .carousel{
        display: block;
    }
}




.circulo>h1 {
	width: 10rem;
    height: auto;
	border-radius: 5%;
	background: black;
	display:block;
	justify-content: center;
	align-items: center;
	text-align:right;
  margin:0px auto;
  padding:10%;
  color:khaki
}

h1{
    color: red;
}




